h6, h4{
  text-align: center;
}
p{
  text-align: center;
  font-size: 10px; 
}

#div1{
  width: 100%; 
  height: 100%; 
  color: white;  
  text-align: center; 
}

#div1 #img1{
  margin-top: 190px; 
  margin-bottom: 37px; 
  width: 7%;
}

#div1 #img2{
  margin-top: 127px;
}

#aboutus{
  text-align: center; 
  margin: 20px;
}

#img3{
  width: 100%; 
  height: 50%;  
  text-align: center; 
  color: white; 
  padding-top: 90px;
  margin-bottom: 20px;
}

#img4{
  width: 100%; 
  height: 65%; 
  margin-top: 30px;
}

#details{
  padding-top: 40px; 
  text-align: center;
}

#details input{
  background: transparent; 
  color: white;
}

#details textarea{
  margin-top: 15px; 
  background: transparent; 
  color: white;
}

#social{
  justify-content: center; 
  margin-top: 30px;  
}

#social img{
  margin-left: 20px;
}

#services1{
  margin-left: 40px; 
  padding-top: 10px; 
  padding-left: 90px;
  height: 176px;
  width: 350px;
} 

#services1 #icon1{
  margin-left: 50px;
  padding-top: 40px; 
}

#icon2{
  margin-left: 40px; 
  padding-top: 10px; 
  padding-left: 90px;
  height: 176px;
  width: 338px;
  padding-left: 55px; 
  padding-right: 55px;
  display: none;
}

#services2{
  margin: 40px; 
  padding-top: 10px; 
  padding-left: 90px;
}

#icon3{
  display: none;
  padding-left: 55px; 
  padding-right: 55px;
}

#services3{
  margin: 40px; 
  padding-top: 10px; 
  padding-left: 90px;
}

#icon4{
  display: none; 
  padding-left: 55px; 
  padding-right: 55px;
}








#hov1{
  width: 170px;
  height: 170px;
  background: url();
  background-size: cover;
}

#hov2{
  width: 170px;
  height: 170px;
  background-size: cover;
}
#hov3{
  width: 170px;
  height: 170px;
  background-size: cover;
}
#hov4{
  width: 170px;
  height: 170px;
  background-size: cover;
}



#hov5{
  width: 170px;
  height: 170px;
  background-size: cover;
}
#hov6{
  width: 170px;
  height: 170px;
  background-size: cover;
}
#hov7{
  width: 170px;
  height: 170px;
  background-size: cover;
}
#hov8{
  width: 170px;
  height: 170px;
  background-size: cover;
}


#hover{
  justify-content: center;
  padding-bottom: 20px;
}


#hover1{
  width: 90%;
  height: 90%;
  border: 2px solid white;
  margin-top: 10.5px;
  margin-left: 10.5px;
  color: white;
  background: rgb(0,0,0,.6);
  display: none;
}

#hover2{
  width: 90%;
  height: 90%;
  border: 2px solid white;
  margin-top: 10.5px;
  margin-left: 10.5px;
  color: white;
  background: rgb(0,0,0,.6);
  display: none;
}

#hover3{
  width: 90%;
  height: 90%;
  border: 2px solid white;
  margin-top: 10.5px;
  margin-left: 10.5px;
  color: white;
  background: rgb(0,0,0,.6);
  display: none;
}

#hover4{
  width: 90%;
  height: 90%;
  border: 2px solid white;
  margin-top: 10.5px;
  margin-left: 10.5px;
  color: white;
  background: rgb(0,0,0,.6);
  display: none;
}

#hover5{
  width: 90%;
  height: 90%;
  border: 2px solid white;
  margin-top: 10.5px;
  margin-left: 10.5px;
  color: white;
  background: rgb(0,0,0,.6);
  display: none;
}

#hover6{
  width: 90%;
  height: 90%;
  border: 2px solid white;
  margin-top: 10.5px;
  margin-left: 10.5px;
  color: white;
  background: rgb(0,0,0,.6);
  display: none;
}

#hover7{
  width: 90%;
  height: 90%;
  border: 2px solid white;
  margin-top: 10.5px;
  margin-left: 10.5px;
  color: white;
  background: rgb(0,0,0,.6);
  display: none;
}

#hover8{
  width: 90%;
  height: 90%;
  border: 2px solid white;
  margin-top: 10.5px;
  margin-left: 10.5px;
  color: white;
  background: rgb(0,0,0,.6);
  display: none;
}

